<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::nav"></header>

<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-5" style="font-family: 'Matura MT Script Capitals'">
                            <span class="section-heading-upper">Every dish tells a story...</span>
                            <span class="section-heading-lower">Recipes - old and new</span>
                        </h2>
                        <p style="font-size:20px">
                            Recipes are precious, often passed down from generation to generation, tweaked along the way to adjust for the seasons, accessibility to ingredients or sometimes they are simply improved. And new recipes are dreamt up daily  by creative chefs and business owners with the sole aim of dishing up exceptional fare to bring smiles to those who eat them.
                            Yummy Share includes some great recipes and adds more regularly.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

<footer th:replace="fragments/commons::footer"></footer>
</html>
