<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::nav"></header>

<section class="vh-100 gradient-custom">
    <div class="container py-1 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-6 text-center">Login</h3>
                        <form th:action="@{/users/login}"
                              th:method="POST">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="form-outline">
                                        <input type="text" id="username" name="username" placeholder="Username" class="form-control form-control-lg"/>
                                        <label class="form-label" for="username"></label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 pb-2">
                                    <div class="form-outline">
                                        <input type="password" id="password" name="password" placeholder="Password" class="form-control form-control-lg"/>
                                        <label class="form-label" for="password"></label>
                                    </div>
                                </div>
                            </div>

                            <p th:if="${bad_credentials}" class="errors alert alert-danger">
                                Username or password is invalid. Please try again!
                            </p>

                            <div class="mt-0 pt-0 text-center">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit"/>
                            </div>

                            <p class="text-center text-muted mt-2 mb-0">Don't have an account? <a
                                    th:href="@{/users/register}" class="fw-bold text-body"><u>Register
                                here</u></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

<footer th:replace="fragments/commons::footer"></footer>
</html>