<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::nav"></header>

<main>
    <hr class="my-3">
    <div class="container">
        <div class="text-center text-white">
            <h2 th:text="|Sorry, something went wrong. Dont worry, we are working on it.|"></h2>
        </div>
    </div>
</main>
</body>

<footer th:replace="fragments/commons::footer"></footer>
</html>
